#login-box {
  display: none;
} 

.login-janela {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#login-box:checked + .login-janela {
  display: flex;
}

.caixa-login {
  background: #FFFFFF;
  padding: 30px 40px;
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
  height: 40%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
}

.caixa-login h2 {
  margin-bottom: 20px;
  color: #3E1A5D; 
}

.caixa-login form input[type="email"],
.caixa-login form input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #CCC;
  border-radius: 6px;
  font-size: 1rem;
}

.caixa-login form input[type="submit"] {
  width: 100%;
  background-color: #A23C8D;
  border: none;
  padding: 12px 0;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 30px;
  font-size: 1rem;  
  margin-top: 5%;
}

.caixa-login form input[type="submit"]:hover {
  background-color: #3E1A5D; 
} 

.close-box {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  color: #999;
  text-decoration: none;
}

.close-box:hover {
  color: #3E1A5D;
}

.btn-primary {
  background-color: #A23C8D;
  border-color: #A23C8D;
}

.btn-primary:hover {
  background-color: #3E1A5D;
  border-color: #3E1A5D;
}

.btn {
  font-weight: 900;
  margin-top: 40px;
}
