@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;	
  box-sizing: border-box;
}

body {
  background-color: #F6F0EA; 
  font-family: 'Helvetica Neue', sans-serif;
}

main {
  padding: 20px;
  padding-bottom: 100px;
}

div {
  font-size: 16px;
}

.header {
  width: 100%;	
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #C38FC4;
  color: #3E1A5D; 
  border-bottom: 1px solid #A23C8D;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
}

.navegacao {
  display: none;
  text-transform: capitalize;
  color: #A23C8D; /* tom rosa escuro elegante */
  border-color: #F6F0EA;
  font-size: 1.2rem;
  font-weight: 900;
}

.navegacao ul li {
  display: inline-block;
  padding: 0 20px;
  list-style-type: none;
}

.navegacao ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #A23C8D;
  text-shadow: 1px 1px 2px #C38FC4;
  font-size: 1.5rem;
  font-weight: 900;	
}

.navegacao ul li a:hover {
  color: #3E1A5D;
}

.botao-login {
  text-decoration: none;
  display: inline-block;
  background-color: #A23C8D;
  color: #F6F0EA;
  padding: 10px 24px;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  font-weight: 700;
}

.botao-login:hover {
  background-color: transparent;
  border: 2px solid #A23C8D;
  color: #A23C8D;
}

.logo {
  margin: 1px 0px auto;
}

.logo img {
  width: auto;
  height: 50px;
}

.desc {
  font-size: 10px;
  text-align: end;
  font-weight: bold;
  text-shadow: 1px 1px 2px #C38FC4;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
