
section .inicio {
	display: flex;
    flex-direction: column;
	justify-content: space-evenly;	
	flex-wrap: wrap;
	margin-top: 100px;
    margin-bottom: 60px;
   
    
}
.inicio h2 {
	font-size: 1.6rem;
	color: #5E2A8C; 
    margin-bottom: 40px;
    margin-left: 20px;
    text-align: start;
    font-family: "Playfair Display", serif;
    
}
.inicio p{
    font-size: 20px;
    color: #9B4D99; 
    font-weight: bolder;
    text-align: center;
    font-family: "Playfair Display", serif;
 
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;

}
.produto-container{   
    width: 400px;     
    margin: 1%;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.produto-container img {
	width: 100%;

}
.overlay {
  max-height: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: #F4F7F8;  
  padding: 0 10px;
   font-family: sans-serif;
}
.descri{
    display: flex;
    flex-direction: column;   
   
   
}
.descri h2{
     text-align: center;
    

}
 .text{
    text-align: justify;
    margin: 10px 0;
      font-size: 1rem;
      
   
}
.preco{
    font-size: 1.4rem;
    font-weight: 900;
}

.produto-container:hover .overlay {
  max-height: 200px;
  padding: 20px;
}