table {
    width: 90%;
    margin: 60px auto;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
}

caption {
    font-size: 2.5rem;
    color: #5E2A8C;
    background-color: #F8F1EB;
    padding: 1rem;
    font-weight: bold;
}

thead {
    background-color: #F8F1EB;
    color: #5E2A8C;
}

thead th {
    padding: 1rem;
    border: 1px solid #D1A7D4;
    font-weight: 900;
    text-align: center;
}

th, td {
    padding: 1rem;
    border: 1px solid #D1A7D4;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
}

td.produto {
    font-size: 1.2rem;
    font-weight: bold;
    color: #5E2A8C;
    background-color: #F8F1EB;
    text-align: center;
    padding: 1.2rem;
}

td.size {
    width: 8%;
}

.hooover img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.açao {
    display: inline-block;
    background-color: #5E2A8C;
    color: #F8F1EB;
    padding: 0.6rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
}
