caption {
	color: darkcyan;
	font-size: 45px;
	margin: 20px 0;
	font-weight: bold;
	
}
table {
	border: darkcyan;
	width: 100%;
	border-collapse: collapse;
}
th {
	color: white;
	background-color: darkcyan;
	text-align: center;
	border: 0;
}
th, td{
	border: 1px solid darkcyan;
	height: 2rem;
}

.span1 {
	text-align: right;
	font-weight: bold;
	

}
tr:hover{
	background-color: lightgreen;
	letter-spacing: 1px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
